// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.author {
  font-style: italic;
}

div {
  padding: 5px 10px;
  border-left: 5px solid lightgrey;
  margin-bottom: 20px;
}
div:hover {
  background-color: #FDFFDF;
}
 .link {
  text-decoration: none;
 }
